#flowchartContainer {
    float: left;
    width: 40%;
}

.code-container {
    float: left;
    width: 40%;
    margin-bottom: 2px; /* Espacement entre la zone de texte du code et les boutons */
}

.button-container {
    clear: both; /* S'assurer que les boutons apparaissent en dessous des conteneurs précédents */
    text-align: center; /* Centrer les boutons horizontalement */
}

.myButton {
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
    background-color:#f9f9f9;
    border-radius:4px;
    border:2px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#000000;
    font-family:Arial;
    font-size:12px;
    padding:5px 8px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}

.myButton:hover {
    background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
    background-color:#e9e9e9;
}

.myButton:active {
    position:relative;
    top:1px;
}

.css-input {
    padding: 5px;
    font-size: 16px;
    border-width: 1px;
    border-color: #CCCCCC;
    background-color: #FFFFFF;
    color: #000000;
    border-style: solid;
    border-radius: 0px;
    box-shadow: 0px 0px 5px rgba(66,66,66,.75);
}

.css-input:focus {
    outline:none;
}
